.resources
  // &-page
    // .cta
      // background-color: $white
  &-hero
    padding: 14px 0 130px 0
    &__title
      margin-bottom: 85px
    &__content
      max-width: 480px
      margin: 28px 0 60px 0
      p
        margin-bottom: 20px

  &-box
    display: flex
    margin-bottom: 35px
    &__img
      margin-right: 80px
    &__content
      .title-5, h5
        margin-bottom: 8px
.what
  padding: 120px 0
  background-color: $grey

.handbook
  padding: 140px 0 233px
  &__img
    max-width: 540px
  &__content
    margin-left: 40px

.bootcamp
  color: $white
  background-color: $black
  padding: 150px 0
  margin-bottom: 45px
  &__content
    max-width: 480px
  &__video
    position: absolute
    width: 720px
    top: -45px
    bottom: -45px
    right: 0
    background-size: cover
    background-repeat: no-repeat
    background-position: center
  &__play
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    .play-btn
      margin-right: 0

.double
  padding: 130px 0 120px 0

.exam
  padding: 180px 0 10px 0
  background-color: $grey
  &__title
    margin-bottom: 40px
  &-slider
    margin-bottom: 48px
    &__wrap
      margin: 12px 0 0 50px
    &__nav
      .slider__btn:not(:last-child)
        margin-right: 20px
  &__img
    margin-top: 60px
