.hero
  padding-top: 66px

  &__title
    padding-left: 16px

  &__img
    margin-top: 19px
    position: relative
    img
      object-fit: cover

  &__play
    position: absolute
    top: 30%
    right: 60px

.statistic
  &__container
    background-color: $grey