.seo
  &-hero
    padding: 20px 0 35px 0
    &__title
      max-width: 640px
    &__content
      max-width: 430px
      font-weight: 500
      font-size: 18px
.ucat
  padding-top: 70px
  &::before
    content: ""
    width: 100%
    height: 980px
    background-color: $grey
    position: absolute
    top: 0
    left: 0
  &__img
    margin: 80px 0

.text
  &__content
    max-width: 540px
    margin: 50px 0
    +d(991)
      max-width: 100%
      margin: 10px 0
    p
      margin-bottom: 15px
    h6, .title-6
      margin: 40px 0 15px
      +d(991)
        margin: 20px 0 10px
    ul
      margin-bottom: 35px
      li
        position: relative
        padding-left: 20px
        margin-bottom: 5px
        &::before
          content: ""
          width: 6px
          height: 6px
          background-color: $primary
          border-radius: 50%
          position: absolute
          left: 0
          top: 10px
    span
      color: $primary
    h4, .title-4
      font-size: 30px
    .btn
      margin-top: 20px
.require
  padding: 130px 0
  &__title
    text-align: center
    margin-bottom: 100px
    +d(991)
      margin-bottom: 60px
    span
      color: $primary
  &__content
    background-color: $black
    color: $white
    padding: 160px 0 90px
    .text__content
      max-width: 100%
    ul
      column-count: 2
      margin-right: 40px

.details
  padding-bottom: 150px

.cost
  padding-bottom: 100px
  &__title
    text-align: center
    margin-bottom: 100px
    p
      font-weight: 500
    span
      color: $primary

.ucat-table
  padding: 140px 0 100px 0
  background-color: $grey

  &__title
    text-align: center
    margin-bottom: 40px

.table
  p
    text-align: center
  table
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    background-color: $white
    margin-bottom: 50px

    tr
      &:first-child
        th
          color: $white
          background-color: $black
          font-weight: 400
          padding: 26px 47px
          width: 50%
          font-weight: 500
          border: 1px solid $greyLight
    tr
      td
        padding: 26px 47px
        vertical-align: middle
        border: 1px solid $greyLight
        &:first-child
          font-weight: 600

.hard
  padding-top: 160px
  &__img
    position: relative
    left: -60px
    max-width: 540px
    margin: 0 auto
    +d(991)
      left: 0

.steps
  padding: 100px 0
.long
  color: $white
  padding: 140px 0 200px 0
  &::before
    content: ""
    width: 100%
    height: 800px
    background-color: $black
    position: absolute
    top: 0
    left: 0
  &__play
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &__video
    height: 430px
    position: relative
    left: -60px
    top: 40px

.score__title
  max-width: 50%

.good-score
  padding: 50px 0
  background-color: $grey
  &__img
    max-width: 540px
    margin-right: 110px

.interpret
  padding: 160px 0