  <!-- footer start -->
  <footer class="footer">
    <div class="map" id="map" style="background-image: url(img/map.jpg);">

    </div>
    <div class="footer_top">
      <a class="navbar-brand footer__logo" href="#">
        <img src="img/logo-white.svg" alt="medentry">
      </a>
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-4 col-xl-3 offset-xl-1">
            <div class="footer-box">
              <h6 class="title-6">Services</h6>
              <ul class="footer__list">
                <li><a href="#">Preparation Packages</a></li>
                <li><a href="#">Online Learning Platform</a></li>
                <li><a href="#">UCAT Prep Workshops</a></li>
                <li><a href="#">Online Classes</a></li>
                <li><a href="#">Personal Tutoring</a></li>
                <li><a href="#">Interview Training</a></li>
                <li><a href="#">Application Reviews</a></li>
              </ul>
            </div> 
          </div>
          <div class="col-6 col-md-4 col-xl-3">
            <div class="footer-box">
              <h6 class="title-6">Resources</h6>
              <ul class="footer__list">
                <li><a href="#">What is the UCAT?</a></li>
                <li><a href="#">Free Trial Exam</a></li>
                <li><a href="#">Sample Questions</a></li>
                <li><a href="#">UCAT Guide</a></li>
                <li><a href="#">Medical Entry Handbook</a></li>
                <li><a href="#">Message to Parents</a></li>
                <li><a href="#">Teacher Resources</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-4 col-xl-3">
            <div class="footer-box">
              <h6 class="title-6">Information</h6>
              <ul class="footer__list">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">UCAT Blog</a></li>
                <li><a href="#">Scholarships</a></li>
                <li><a href="#">Quality Guarantee</a></li>
                <li><a href="#">Join Our Staff</a></li>
                <li><a href="#">Be an Ambassador</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-11 offset-xl-1">
            <h6 class="title-6">CONTACTS</h6>
          </div>
          <div class="col-md-4 col-xl-3 offset-xl-1">
            <div class="footer-contacts">
              <img src="img/svg/phone.svg" alt="phone">
              <div class="footer-contacts__content">
                <a href="tel:1300633368">+1 300 633 368</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="footer-contacts">
              <img src="img/svg/map-pin.svg" alt="map-pin">
              <div class="footer-contacts__content">
                <p>126 Jukes Road Fawkner</p>
                <p>VIC 3060 Australia</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="footer-contacts">
              <img src="img/svg/clock.svg" alt="clock">
              <div class="footer-contacts__content">
                <p>Open 9am to 5pm,</p>
                <p>Monday to Friday</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p><a href="#">Privacy Policy</a> | <a href="#">Legal Terms</a> &copy; 2021 MedEntry</p>
      <ul class="social-list">
        <li><a href="#" target="_blank"><img src="img/svg/facebook-fill.svg" alt="facebook"></a></li>
        <li><a href="#" target="_blank"><img src="img/svg/google.svg" alt="google"></a></li>
        <li><a href="#" target="_blank"><img src="img/svg/twitter.svg" alt="twitter"></a></li>
        <li><a href="#" target="_blank"><img src="img/svg/instagram.svg" alt="instagram"></a></li>
        <li><a href="#" target="_blank"><img src="img/svg/youtube.svg" alt="youtube"></a></li>
      </ul>
      <a href="#" class="btn btn-primary">Callback</a>
    </div>
  </footer>
  <!-- footer end -->