<!-- Modal -->
<div class="modal fade modal-custom" id="modal-1" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabel">Available <span>With Any UCAT Package</span></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          Close
          <span aria-hidden="true">&times;</span>
        </button>
        <p>Weekly classes require a UCAT package. Please select a package to continue. </p>
      </div>
      <div class="modal-body">
        <div class="package-row package-row_modal">
          <div class="package-card">
            <div class="package-card__header">
              <p class="price"><sup>$</sup>1,185</p>
              <h4 class="title-4">Online</h4>
            </div>
            <div class="package-card__body">
              <p>+ Weekly Classes</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          <div class="package-card most-popular">
            <div class="package-card__header">
              <p class="price">
                <sup>$</sup>1,385
              </p>
              <h4 class="title-4">Platinum</h4>
            </div>
            <div class="package-card__body">
              <p>+ Weekly Classes</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          <div class="package-card">
            <div class="package-card__header">
              <p class="price"><sup>$</sup>3,360</p>
              <h4 class="title-4">Diamond</h4>
            </div>
            <div class="package-card__body">
              <p>+ Weekly Classes</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer__content">
          <h4 class="title-4">Already <span>have a package?</span></h4>
          <p>Log in to add Weekly Classes.</p>
        </div>
        <a href="login.html" type="button" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade modal-custom" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel">Available <span> with the Onlineor Platinum Package </span>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          Close
          <span aria-hidden="true">&times;</span>
        </button>
        <p>Virtual one-on-one training can be added to the Online or Platinum packages.
          In-person one-on-one training is included in the Diamond Package.
          Please select your preferred package to continue. </p>
      </div>
      <div class="modal-body">
        <div class="package-row package-row_modal">
          <div class="package-card">
            <div class="package-card__header">
              <p class="price"><sup>$</sup>1,185</p>
              <h4 class="title-4">Online</h4>
            </div>
            <div class="package-card__body">
              <p>+ Weekly Classes</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          <div class="package-card most-popular">
            <div class="package-card__header">
              <p class="price">
                <sup>$</sup>1,385
              </p>
              <h4 class="title-4">Platinum</h4>
            </div>
            <div class="package-card__body">
              <p>+ Weekly Classes</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
          <div class="package-card">
            <div class="package-card__header">
              <p class="price"><sup>$</sup>3,360</p>
              <h4 class="title-4">Diamond</h4>
            </div>
            <div class="package-card__body">
              <p>+ Weekly Classes</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-footer__content">
          <h4 class="title-4">Already <span>have a package?</span></h4>
          <p>Log in to add Weekly Classes.</p>
        </div>
        <a href="login.html" type="button" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>